<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <RollingFile name="ImportLog" fileName="logs/data-import.log"
                     filePattern="logs/data-import-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="ErrorLog" fileName="logs/error.log"
                     filePattern="logs/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.lio9.pokedex" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <Logger name="com.lio9.pokedex.service.PokeapiDataService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <!-- MyBatis SQL语句日志配置 -->
        <Logger name="com.baomidou.mybatisplus" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <!-- JDBC SQL语句日志配置（显示完整SQL，不显示结果） -->
        <Logger name="org.apache.ibatis" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <Logger name="java.sql" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <Logger name="java.sql.Connection" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="java.sql.Statement" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <Logger name="java.sql.PreparedStatement" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ImportLog"/>
        </Logger>
        <Logger name="java.sql.ResultSet" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>
</Configuration>