<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lio9.common.mapper.PokemonMapper">

    <!-- 查询宝可梦形态信息 -->
    <select id="selectPokemonForms" resultType="com.lio9.common.model.PokemonForm">
        SELECT pf.* FROM pokemon_form pf
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询宝可梦形态属性 -->
    <select id="selectPokemonFormTypes" resultType="com.lio9.common.model.PokemonFormType">
        SELECT pft.* FROM pokemon_form_type pft
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询宝可梦形态特性 -->
    <select id="selectPokemonFormAbilities" resultType="com.lio9.common.model.PokemonFormAbility">
        SELECT pfa.* FROM pokemon_form_ability pfa
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询宝可梦蛋群 -->
    <select id="selectPokemonEggGroups" resultType="com.lio9.common.model.PokemonEggGroup">
        SELECT peg.* FROM pokemon_egg_group peg
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询宝可梦技能 -->
    <select id="selectPokemonMoves" resultType="com.lio9.common.model.PokemonMove">
        SELECT pm.* FROM pokemon_move pm
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询进化链 -->
    <select id="selectEvolutionChains" resultType="com.lio9.common.model.EvolutionChain">
        SELECT ec.* FROM evolution_chain ec
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
    
    <!-- 查询技能 -->
    <select id="selectMoves" resultType="com.lio9.common.model.Move">
        SELECT m.* FROM move m
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>

</mapper>